.txt-blanc {
    color: white;
}

td a:hover {
    color: var(--citrine) !important;
}

td a:link {
    color: white;
}

td a:visited {
    color: white;
}

td a img {
    width: 20%;
   
}

.centrer {
    text-align: center;
}

table,
th,
td {
    border: 1px solid;
    border-collapse: collapse;
    border-color: white;
}

table th{
    color: var(--citrine);
}

table {
    width: 100%;
}

.lienFilmo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.lienFilmo span{
    margin: auto;
}

.text-info span{
    color: var(--citrine);
    display: contents;
}