table {
    border: 1px solid var(--citrine);
    border-collapse: collapse;
    margin: 0px;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 2em;
    margin: .5em 0 .75em;
    color: white;
}

table tr {
    background-color: var(--eerie-black);
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
    color: white;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: var(--citrine);
}

table td a{
    color: var(--citrine);
}

table td a:hover{
    color: var(--light-gray);
}

@media screen and (max-width: 1105px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid var(--raisin-black);
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
}